<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments :: html_head"/>

<body>
	<div class="container">	
		<a href="/eventos" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Lista de Eventos</a>
		<a href="/cadastrarEvento" class="waves-effect waves-light btn"> <i class="material-icons left">add_box</i> Cadastrar Evento</a>

		<h3>Detalhes Evento</h3>
		<div th:each="evento : ${evento}" class="container">
			<div class="row">
				<p><span th:text="${evento.nome}"></span></p>
				<p><span th:text="${evento.local}"></span></p>
				<p><span th:text="${evento.data}"></span></p>
				<p><span th:text="${evento.horario}"></span></p>
			</div>			
		</div>
		<form method="POST" class="container">
			Nome: <input type=text value="" name="nomeParticipante"/>
			Email: <input type=text value="" name="email"/>
			CPF: <input type=text value="" name="CPF"  onkeypress="$(this).mask('000.000.000-00');" pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}" placeholder="000.000.000-00"/>
			Telefone: <input type="tel" value="" name="telefone" id="telefoneCelular" placeholder="(81) 0 0000-0000"/>
			Data Nascimento: <input type="date" value="" name="dataNascimento"/>
			<button class="waves-effect waves-light btn" type="submit">Adicionar</button>
		</form>
		<div>
			<h5>Lista de Convidados</h5>
			<div class="container">
				<div class="row">
					<div class="input-field col s4">
						<p><span style="font-weight: bold;" th:text="nomeParticipante"></span></p>
					</div>
					<div class="input-field col s3">
						<p><span style="font-weight: bold;" th:text="email"></span></p>		
					</div>
					<div class="input-field col s3">
						<p><span style="font-weight: bold;" th:text="CPF"></span></p>		
					</div>
					<div class="input-field col s2">
						<p><span style="font-weight: bold;" th:text="dataNascimento"></span></p>		
					</div>
				</div>
			</div>		
			<div class="container" th:each="participante : ${participantes}">
				<div class="row">
					<div class="input-field col s4">
						<p><span th:text="${participante.nomeParticipante}" ></span></p>
					</div>
					<div class="input-field col s3">
						<p><span th:text="${participante.email}" ></span></p>		
					</div>
					<div class="input-field col s3">
						<p><span th:text="${participante.CPF}" ></span></p>		
					</div>
					<div class="input-field col s2">
						<p><span th:text="${#calendars.format(participante.dataNascimento, 'dd/MM/yyyy')}"></span></p>		
					</div>			
				</div>
			</div>
		</div>
	</div>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	
	<script type="text/javascript">
    	$(document).ready(function(){
    		$('#telefoneCelular').mask('(00) 0 0000-0000');
    		$('#cpf').mask('000.000.000-00');
    	});
	</script>	
	
</body>

</html>