<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments :: html_head" />

<body>
	
	<div th:replace="fragments :: menu"/>
	
	<div class="container">				

		<div class="card">

			<div class="card-content grey lighten-4">
			
				<div class="card" th:each="evento : ${evento}">
					<div class="card">
						<span class="card-title activator grey-text text-darken-4">Evento</span>
						<div class="row">
							<div class="col s3"><span th:text="${evento.nome}"></span></div>
							<div class="col s3"><span th:text="${evento.local}"></span></div>
							<div class="col s3"><span th:text="${#dates.format(evento.data, 'dd-MM-yyyy')}"></span></div>
							<div class="col s3"><span th:text="${evento.horario}"></span></div>
						</div>						
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
						<p>Local: <span th:text="${evento.local}"></span></p>
						Data: <span th:text="${#dates.format(evento.data, 'dd-MM-yyyy')}"></span>
						Hora: <span th:text="${evento.horario}"></span>
					</div>
				</div>
					
				<div id="FormularioCadastro">
					<form method="post">
						<th:block th:include="mensagemValidacao"></th:block>
						<br />
						<div class="row">
							<div class="input-field col s12 m6">
								<input type=text value="" name="nomeParticipante" required="true" />
								<label for="nomeParticipante">Nome</label>
							</div>
							<div class="input-field col s12 m6">
								<input type=text value="" name="email" required="true" />
								<label for="email">Email</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m4">
								<input type=text value="" name="CPF" onkeypress="$(this).mask('000.000.000-00');"
									pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}" required="true" />
								<label>CPF</label>
							</div>
							<div class="input-field col s12 m4">
								<input type="tel" value="" name="telefone" id="telefoneCelular" />
								<label>Tel Celular</label>
							</div>
							<div class="input-field col s12 m4">
								<input type="date" value="" name="dataNascimento" />
								<label>Data de Nascimento</label>
							</div>
						</div>
						<div class="row">
							<button class="waves-effect waves-light btn" type="submit">Adicionar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<div class="card">
			<div class="card-tabs">
				<span>LISTA DE PARTICIPANTES</span>
			</div>
			<div class="card-content grey lighten-4">
				<div id="listaParticipantes">
					<table class="responsive-table">
						<thead>
							<tr>
								<th>Nome Participante</th>
								<th>Email</th>
								<th sec:authorize="isAuthenticated()">CPF</th>
								<th sec:authorize="isAuthenticated()" >ID</th>
								<th sec:authorize="isAuthenticated()" >Data Nascimento</th>
								<th>DataCadastro</th>
								<th>Deletar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="participante : ${participantes}">
								<td><span th:text="${participante.nomeParticipante}"></span></td>
								<td><span th:text="${participante.email}"></span></td>
								<td sec:authorize="isAuthenticated()" ><span th:text="${participante.CPF}"></span></td>
								<td sec:authorize="isAuthenticated()" ><span th:text="${participante.idParticipante}"></span></td>
								<td sec:authorize="isAuthenticated()" ><span th:text="${#calendars.format(participante.dataNascimento, 'dd/MM/yyyy')}"></span>
								</td>
								<td><span th:text="${#calendars.format(participante.dataCadastro, 'dd/MM/yyyy')}"></span>
								</td>
								<td>
									<a class="waves-effect waves-light btn-small"
										th:href="${(#mvc.url('EC#deletarParticipante').arg(0, participante.idParticipante)).build()}">
										<i class="material-icons">delete_forever</i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			$('#telefoneCelular').mask('(00) 0 0000-0000');
			$('#cpf').mask('000.000.000-00');
		});
	</script>

</body>

</html>