<!DOCTYPE html>
<html>

	<head th:replace="fragments :: html_head"/>

	<body>
		<div class="container">
			<a href="/" class="waves-effect waves-light btn"><i class="material-icons left">home</i>Página Inicial</a>
			<h3>Cadastrar Evento</h3>
			<form method="post">
				Nome: <input type="text" value="" name="nome" />
				Local: <input type="text" value="" name="local" />
				Data: <input type="date" value="" name="data" />
				Horario: <input type="text" value="" name="horario" />
				<button type="submit">Salvar</button>
			</form>
		<div>
		
		<!--JavaScript at end of body for optimized loading-->
      	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	</body>
</html>