<!DOCTYPE html>
<html>
	<head>
		<!--Import Google Icon Font-->
    	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      	<!--Import materialize.css-->
      	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		<title>EventoApp</title>
	</head>
	<body>
		<a href="/" class="waves-effect waves-light btn"><i class="material-icons left">home</i>Página Inicial</a>
		<h3>Cadastrar Evento</h3>
		<form method="post">
			Nome: <input type="text" value="" name="nome"/>
			Local: <input type="text" value="" name="local"/>
			Data: <input type="date" value="" name="data"/>
			Horario: <input type="text" value="" name="horario"/>		
			<button type="submit">Salvar</button>
		</form>
		
		<!--JavaScript at end of body for optimized loading-->
      	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	</body>
</html>