a{
    text-decoration: none; /* tirar o sublinhado que aparece nos textos do menu  */
}

p{
	margin-top:0px;
	margin-bottom:5px;
}

.card-text{ /* class="card-text" */
    background:transparent;
    margin:0px;
}

#cardBody{ /* id="cardBody" */
 /* background:red; */
}

.buttonEntrar{
	position:absolute;
	right: 5px;
	bottom:5px;
	width: 95px;
	height: 45px;
	text-align: center;
	margin: auto;
}