<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments :: html_head" />

<body>
	
	<div th:replace="fragments :: menu"/>
	
	<div class="container">

		<h5>Meus Eventos</h5>
		<table class="responsive-table">
			<thead>
				<tr>
					<th>Cod.</th>
					<th>Nome</th>
					<th>Local</th>
					<th>Data</th>
					<th>Horario</th>
					<th>Deletar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="evento : ${eventos}">
					<div th:if="${#authentication.name == evento.emailResponsavelEvento}">
						<td><span th:text="${evento.codigo}"></span></td>
					<td> <a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.codigo)).build()}"><span th:text="${evento.nome}"></span></a></td>
					<td><span th:text="${evento.local}"></span></td>
					<td><span th:text="${#dates.format(evento.data, 'dd/MM/yyyy')}"></span></td>
					<td><span th:text="${evento.horario}"></span></td>
					<td> <a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('EC#deletarMeuEvento').arg(0, evento.codigo)).build()}">
							<i class="material-icons">delete_forever</i>
						</a>
					</td>					
					</div>
				</tr>
			</tbody>
		</table>
		
		
		<h5>Todos Eventos</h5>
		
		<table class="responsive-table">
			<thead>
				<tr>
					<th>Responsavel</th>
					<th>Meu Evento</th>
					<th>Cod.</th>
					<th>Nome</th>
					<th>Local</th>
					<th>Data</th>
					<th>Horario</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="evento : ${eventos}">
					<td><span th:text="${evento.emailResponsavelEvento}"></span></td>					
					<td>
    					<span th:if="${#authentication.name == evento.emailResponsavelEvento}">SIM</span>
    					<span th:unless="${#authentication.name == evento.emailResponsavelEvento}">NÃO</span>
					</td>
										
					<td><span th:text="${evento.codigo}"></span></td>
					<td> <a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.codigo)).build()}"><span th:text="${evento.nome}"></span></a></td>
					<td><span th:text="${evento.local}"></span></td>
					<td><span th:text="${#dates.format(evento.data, 'dd/MM/yyyy')}"></span></td>
					<td><span th:text="${evento.horario}"></span></td>					
				</tr>
			</tbody>
		</table>
		
		
	</div>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="/https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>    
    <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>