<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments :: html_head" />

<body>

	<div th:replace="fragments :: menu" />
	
	<div class="container">
	
		<!-- INFORMAÇÕES DA CONTA -->
		<div sec:authorize="isAuthenticated()">
			<h4>Minha Conta</h4>
			<p>Email: <b>[[${#authentication.name}]]</b></p>
			<p>Nome: <b>[[${session.mySessionNome}]]</b></p>
			<p>CPF: <b>[[${session.mySessionCpf}]]</b></p>
			<p>Data do Cadastro: <b>[[${session.mySessionDataCadastro}]]</b></p>
			<p>Perfil Usuário: <b>[[${session.mySessionTipoPerfil}]]</b></p>
			<p class="hide" >Id: <b>[[${session.mySessionId}]]</b></p>
		</div>
	
	<!-- BOTÕES SAIR ENTRAR CADASTRAR -->
		<div>
			<div>
				</p>
				<a id="btncadastrar" href="/cadastrarEvento" class="waves-effect waves-light btn">Cadastrar Evento</a>				
				</p>
				<a onclick="return confirmaDeslogar();" sec:authorize="isAuthenticated()" href="/logout"
					class="waves-effect waves-light btn">Logout</a>
				<a id="btncadastrar" href="/login.html" sec:authorize="!isAuthenticated()"
					class="waves-effect waves-light btn">Entrar</a>
				<a id="btncadastrar" href="/register" sec:authorize="!isAuthenticated()"
					class="waves-effect waves-light btn">Cadastre-se</a>
			</div>				
		</div>
		
		<div>
			<form name="formulario" id="formulario" class="formulario" method="get">
				<div class="hide">
					User Logado:<input id="formname" name="emailResponsavelEvento" th:value="${#authentication.name}"
						readonly=true />
				</div>
				<button class="waves-effect waves-light btn input-field" type="submit"> METHOD GET Email</button>
			</form>
		</div>

		<div sec:authorize="isAuthenticated()">		
		
		<!-- FORM POST EXCLUIR CONTA -->
			<th:block th:include="mensagemValidacao"></th:block>
			<form action="#" name="formExcluir" th:action="@{/deletarMinhaContaUsuario}" method="POST">
				<input class="hide" readonly=true id="id" name="id" th:value="${session.mySessionId}"/>
				<input class="hide" readonly=true id="email" name="email" th:value="${#authentication.name}">
				<p/>
				<button type="submit" class="btn-large red" onclick="return confirmarExcluir()">
					<i class="material-icons">delete_forever</i>
					EXCLUIR CONTA
				</button>
			</form>
		</div>			
		
	
		<div id="admin" sec:authorize="hasRole('ADMIN')">	
			
			<div sec:authorize="!isAuthenticated()">
				<p>[[${#authentication.name}]]</p>
				<p>Nome usuario da sessão: <b>[[${session.mySessionNome}]]</b></p>
				<p>lastAccessedTime: <b>[[${#session.lastAccessedTime}]]</b></p>
				<p>id: <b>[[${#session.id}]]</b></p>
			</div>
	
			<div sec:authorize="isAuthenticated()">
				<p>Email: <b>[[${#authentication.name}]]</b></p>
				<p>Nome usuario da sessão: <b>[[${session.mySessionNome}]]</b></p>
				<p>lastAccessedTime: <b>[[${#session.lastAccessedTime}]]</b></p>
				<p>id: <b>[[${#session.id}]]</b></p>				
			</div>
	
	
			<div class="row">
				<div class="input-field col l2 m6 s12">
					<input type=text name="cdate" id="cdate" class="datepicker">
					<label for="cdate">Calendario</label>
				</div>
			</div>
	
	
			<p><b th:text="${mensagem}"></b></p>
			<th:block th:include="mensagemValidacao"></th:block>
			<p th:text="| Nome do usuario da sessão:  ${session.mySessionNome}|" th:unless="${session == null}">[...]
			</p>
	
			<table border="1" class="table table-striped table-responsive-md">
				<tr th:each="u : ${usuario}">
					<td><span th:text="${u.nome}"></span></td>
					<td><span th:text="${u.cpf}"></span></td>
					<td><span th:text="${u.email}"></span></td>
				</tr>
			</table>	
	
			<div sec:authorize="hasRole('USER')">Text visible to user.</div>
			<div sec:authorize="hasRole('ADMIN')">Text visible to admin (usuario administrador).</div>
			<div sec:authorize="isAuthenticated()"> Text visible only to authenticated users.</div>
			<div> Authenticated username: <span sec:authentication="name"></span> </div>
	
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				USER ADMINISTRADOR -This content is only shown to administrators.
			</div>
			<div sec:authorize="hasRole('ROLE_STANDARD_USER')">
				USER NORMAL -This content is only shown to users.
			</div>
			<!--		Authenticated user roles:<div sec:authentication="principal.authorities"></div>-->
			<!--		Roles: <span sec:authentication="principal.authorities">[ROLE_STANDARD_USER, ROLE_ADMIN]</span>-->
	
			</p>
			<div>
				<button onclick="window.location.href = '/logout'">Sair</button>
			</div>
			</p>
		</div>
	
	</div>	
	
	<script type="text/javascript">
		window.onload = function () {	
			let nome = document.getElementById("formname").value
    		//console.log(nome)
    		//Função do Ajax para enviar uma solicitação get
  			$.ajax({
 		 		type: "POST",
 		 		url: "/info-user-logged",
  				data: nome,  // usuario-padrao%40email.com=	   
  				dataType: "text",
  				//data: JSON.stringify(nome), // %22usuario-padrao%40email.com%22=
        		//dataType: 'json',
  				//success: function(){
           		//	alert("success");
        		//}
			});   	
		}
		
		function confirmarExcluir() {
			var resultado = (confirm('Tem certeza que você quer excluir sua Conta? Sua conta será deslogada e seus dados apagados. Para acessar novamente você precisará fazer um novo cadastro.'))
			if (resultado == true) {
				alert("Clique em OK para Excluir sua conta!")
				return true;				
			}else {				
				return false;
			}
		}	
			
	</script>
	
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/test.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>

</html>