<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments :: html_head" />
<link th:href="@{/css/minha-conta.css}" rel="stylesheet" />
<script type="text/javascript" src="/js/minha-conta.js" defer></script>

<body>

	<div th:replace="fragments :: menu" />
	
	<div class="container">
	
	<!-- INFORMAÇÕES DA CONTA -->
		<h4>Minha Conta</h4>
		<div class="card" sec:authorize="isAuthenticated()">
			<div class="card-header">
				<div class="row">
					<div class="col m6 s6">
						<h5>Detalhes</h5>
					</div>
					<div class="editarConta col m6 s6">
						<a title="Editar" href="/users/minha-conta/edit">
							Editar conta
						</a>
					</div>
				</div>
			</div>
			<div>
				<div class="row">
					<div class="col m6 s12">
<!--						<label><b>Email</b></label><br/>&nbsp;-->
						<label><b>Email</b></label><br/>
						<span>[[${#authentication.name}]]</span>
					</div>
					<div class="col m6 s12">
						<label><b>Nome</b></label><br/>
						[[${session.mySessionNome}]]
					</div>
				</div>
				<div class="row">
					<div class="col m6 s12">
						<label><b>CPF</b></label><br/>
						[[${session.mySessionCpf}]]
					</div>
					<div class="col m6 s12">
						<label><b>Perfil usuário</b></label><br/>
						<div th:switch='${session.mySessionTipoPerfil}'>
							<span th:case="'ROLE_ADMIN'">Administrador</span>
							<span th:case="'ROLE_POWER_USER'">Usuario Avançado</span>
							<span th:case="'ROLE_STANDARD_USER'">Usuario Padrão</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col m6 s12">
						<label><b>Data do cadastro</b></label><br/>
						[[${#dates.format(session.mySessionDataCadastro,'dd-MM-yyyy HH:mm')}]]
					</div>
					<div class="col m6 s12">
						<label><b>Conta ativa?</b></label><br/>
						<td th:text="${session.mySessionUsuarioAtivo == 'true'} ? NÃO : SIM"/>
					</div>
				</div>
				<div class="row">
					<div class="col m6 s12">
						<label><b>Atual acesso</b></label><br/>
						<div id="acessoAtual"></div>
					</div>
					<div class="col m6 s12">
						<label><b>Último acesso</b><</label><br/>
						<div id="ultAcesso"></div>
					</div>
				</div>
				<div class="row">
					<div class="col m6 s12">
						<label><b>Quantidade de eventos cadastrados</b></label><br/>
						[[${session.userQuantEventos}]]
					</div>
					<div class="col m6 s12">
						<label><b>Id</b></label><br/>
						[[${session.mySessionId}]]
					</div>
				</div>
				<div class="row">
					<div class="col m6 s12">
						<label><b></b></label><br/>
					</div>
					<div class="col m6 s12">
						<label><b></b></label><br/>
					</div>
				</div>
			</div>
		</div>

		<div id="infoparadeletarconta"></div>
	
	<!-- BOTÕES SAIR ENTRAR CADASTRAR -->
		<div>
			<div>
				</p>
					<a id="btncadastrar" href="/user/meus-eventos" class="waves-effect waves-light btn-primary">Meus Eventos</a>
				</p>
				<a onclick="return confirmaDeslogar();" sec:authorize="isAuthenticated()" href="/logout"
					class="waves-effect waves-light btn-primary">Logout</a>
				<a id="btnentrar" href="/login.html" sec:authorize="!isAuthenticated()"
					class="waves-effect waves-light btn">Entrar</a>
				<a id="btncadastrarusuario" href="/register" sec:authorize="!isAuthenticated()"
					class="waves-effect waves-light btn">Cadastre-se</a>
			</div>				
		</div>
		
		<div>
			<form name="formulario" id="formulario" class="formulario" method="get">
				<div class="hide">
					User Logado:<input id="formEmailUser" name="emailResponsavelEvento" th:value="${#authentication.name}"
						readonly=true />
				</div>
				<button  class="hide  waves-effect waves-light btn input-field" type="submit"> METHOD GET Email</button >
			</form>
		</div>

	<!-- FORM POST EXCLUIR CONTA -->
		<div sec:authorize="isAuthenticated()">	
			<p/>
			<th:block th:include="mensagemValidacao"></th:block>
						
			<form action="#" name="formExcluir" th:action="@{/deletarMinhaContaUsuario}" method="POST">
				<input class="hide" readonly=true id="id" name="id" th:value="${session.mySessionId}"/>
				<input class="hide" readonly=true id="email" name="email" th:Quantidade de eventos cadastrados:value="${#authentication.name}">
				<p/>
				<span th:unless="${session.mySessionNome == null}">
					<button type="submit" class="btn red" onclick="return confirmarExcluir()">
						EXCLUIR CONTA
						<i class="material-icons right">delete_forever</i>
					</button>
				</span>				
			</form>
		</div>
	</div>
	
	<!--JavaScript at end of body for optimized loading-->
  	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

	<script type="text/javascript">
	
		window.onload = function () {
			console.log("function called page minha-conta...");
			let stringEmail = document.getElementById("formEmailUser").value

			var quantEventos =  '[[${session.userQuantEventos}]]';
			var cpf =  '[[${session.mySessionCpf}]]';
			var atualAcesso = "[[${#dates.format(session.atualAcesso,'dd-MM-yyyy HH:mm:ss z ZZZ')}]]";
			var ultimoAcesso = "[[${#dates.format(session.ultimoAcesso,'dd-MM-yyyy HH:mm:ss z ZZZ')}]]";

			var dtAtualAcesso = new Date("[[${#dates.formatISO(session.atualAcesso)}]]");
			var dtUltAcesso = new Date("[[${#dates.formatISO(session.ultimoAcesso)}]]");

			if(!cpf){
				console.log("ajax post")
				$.ajax({
 		 			type: "POST",
 		 			url: "/info-user-logged",
  					data: stringEmail,
  					dataType: "text",
  					success: function(){
						console.log("POST success minhaconta");
						window.location.reload();
        			}
				});
			}
			console.log("ok!")

			document.getElementById("infoparadeletarconta").innerHTML =
				"<p/>Para excluir sua conta é necessário deletar todos os seus eventos que estejam cadastrados.";

			const elementDiv = document.getElementById("acessoUsuario");
			const acessoAtual = document.getElementById("acessoAtual");
			acessoAtual.innerHTML += dtAtualAcesso.toLocaleString();
			const ultAcesso = document.getElementById("ultAcesso");
			ultAcesso.innerHTML += dtUltAcesso.toLocaleString();
		}
	</script>
</body>

</html>