<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments :: html_head" />
<link th:href="@{/css/index.css}" rel="stylesheet" />

<body>
	<div>
		<div th:replace="fragments :: menu" />
		<div class="container">
			<div sec:authorize="!isAuthenticated()">
				<h2>Bem vindo!</h2>
				<h5>Faça login para cadastrar seus eventos e deixá-los disponíveis para o cadastro de participantes!</h5>
				<p><a id="btncadastrar" href="/login.html" class="waves-effect waves-light btn blue">Entrar</a>
				<a id="btncadastrar" href="/register" class="waves-effect waves-light btn blue accent-4">Criar conta</a>
			</div>
			<div sec:authorize="isAuthenticated()">
				<h5>Cadastre seus eventos e listas de convidados!</h5>
				<a id="btncadastrar" href="/cadastrarEvento" class="waves-effect waves-light btn blue accent-2">Cadastrar Evento</a>
			</div>
			<div class="row">
				<div th:each="evento : ${eventos}">
					<div class="col s12 m6 l4">
						<div class="card-panel z-depth-5">
							<b th:text="${evento.nome}"></b>
							<p />
							<!-- <span th:text="${evento.local}"></span> -->
							<span th:utext="${#strings.abbreviate(evento.local,30)}"></span>
							<p />
							<span th:text="${#dates.format(evento.data, 'dd/MM/yyyy')}"></span>
							<span th:text="${evento.horario}"></span>
							<p />
							<!-- <span th:text="${evento.quantParticip}"></span> -->	
							<div th:switch="${evento.participantes.size()}">
								<span th:case="'0'">Sem participante cadastrado!</span>
								<span th:case="'1'"><span th:text="${evento.quantParticip}"></span> participante</span>
								<span th:case="*"><span th:text="${evento.quantParticip}"></span> participantes</span>								
							</div>
							<span th:text="${evento.status}"></span>
	
							<div class="div-button">
								<a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.codigo)).build()}">
									Acessar
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
	
		</div>
	</div>

  <!--JavaScript at end of body for optimized loading-->
  	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
</body>

</html>