<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<head th:replace="fragments :: html_head"/>
<script type="text/javascript" src="/js/infoDev.js"></script>
</head>

<body>
	<div th:insert="fragments :: menu"/>

	<div>		
		<div class="container">
			<h5>Projeto EventoApp</h5>
			<p>Projeto desenvolvido como aprendizagem.</p> 
			<p>Feito com base no <b>Curso Spring Boot: Criando uma aplicação Java Web</b> com a professora Michelli Brito.</p>
			<p>Foram feitos incrementos de funcionalidades e outros ajustes.</p>
			<p>Mas a base para construção foram as aulas no youtube e o projeto no github da professora Michelli.</p>
			<a href="https://github.com/leandromelolm/evento-app-spring-thymeleaf">Aqui meu Projeto no github.</a>				
		</div>

		<div class="container">
			<ul class="collapsible">
				<li>
					<div class="collapsible-header"><i class="material-icons">new_releases</i>Novidades</div>
					<div class="collapsible-body">
						<ul>							
							<li>Adicionado campo de pesquisa na página lista de eventos (página listaEventos-paginated).</li>
							<li>Adicionado paginação na página lista de eventos.</li>
							<li>Adicionado filtro do status do evento na página lista de eventos.</li>
						</ul>
					</div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">settings</i>Detalhes</div>
					<div class="collapsible-body">
						<ul>
							<li>Esta aplicação web permite que o usuário cadastre eventos e deixe-os <b>Aberto</b> para o cadastro de participantes.</li>
							<li>Para cadastrar evento o usuario precisa se cadastrar e logar no sistema.</li>
							<li>É permitido também ao usuário que estiver logado no sistema editar e excluir seus proprios eventos.</li>							
							<li>Os eventos com status <b>Aberto</b> é permitido que qualquer um faça o cadastro de participantes.</li>
							<li>Caso o evento esteja com o status <b>Pausado</b> ou <b>Encerrado</b> o acesso para ver detalhes do evento fica restrito ao usuario que realizou o cadastro do evento.</li>
							<li>Com o status <b>Finalizado</b> ninguém tem permissão para abrir detalhes do evento.</li>
							<li>O usuário com perfil Administrador pode excluir os eventos.</li>
							<li>No frontend do projeto é usado recursos dos Frameworks Materialize e Boostrap.</li>
						</ul>
					</div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">build</i>Implementacões Futuras</div>
					<div class="collapsible-body">
						<ul>							
							<li>Remover o Materialize e adicionar o Bootstrap em toda aplicação.</li>
							<li>Criar campo de pesquisa por nome de evento na pagina home.</li>
							<li>Criar filtro de status de evento na pagina home.</li>
							<li>Adicionar paginação na lista participantes cadastrados nos eventos.</li>
							<li>Entre outros ajustes.</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>

	</div>
</body>
</html>