<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="html_head">
	<meta charset="ISO-8859-1">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	
	<!--Mascara no formulario-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

	<title>EventoApp</title>
</head>

<body>

	<div th:fragment="menu">
		<header>		
		<nav class="indigo darken-4">
		<div class="nav-wrapper">
				<a href="/" class="brand-logo">Eventos App</a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="/home"><i class="material-icons left">home</i>Página Inicial</a></li>
					<li><a href="/cadastrarEvento"><i class="material-icons left">add_box</i>Cadastrar Evento</a></li>
					<li><a href="/eventos"><i class="material-icons left">list</i>Lista de Eventos</a></li>					
					<li><a href="/participantes">Todos Participantes</a></li>
					<li><a href="/teste">Página de Teste</a></li>
					<li sec:authorize="!isAuthenticated()"><a class="sair" href="/login.html">Log in</a></li>
					<li sec:authorize="isAuthenticated()"><a class="sair" href="/logout">Sair</a></li>					
				</ul>
			</div>
		</nav>
		
		<ul class="sidenav" id="mobile-demo">
			<li><a href="/">Principal</a></li>
			<li><a href="/cadastrarEvento">Cadastrar Evento</a></li>			
			<li><a href="/eventos">Lista de Eventos</a></li>
			<li><a href="/participantes">Todos Participantes</a></li>
			<li><a href="/teste">Página de Teste</a></li>
		</ul>
	</header>
		
	</div>	
	


</body>
</html>