<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="html_head">
	<meta charset="ISO-8859-1">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
<!--	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />-->
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection" />
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
<!--	<meta http-equiv="refresh" content="1">-->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	
	<!--Mascara no formulario-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
	
	<title>EventoApp</title>
	
	<script>
		$(document).ready(function () {
			$(".dropdown-trigger").dropdown();
		});
	</script>
	<style>
		.participante {
			display: block; /* Exibi elemento no layout*/
		}
		.minhaconta{
			display:block
		}
	
		@media screen and (max-width: 1110px) { /* Largura máxima. valor acima do max-width exibe elemento, abaixo remove (aplica o display:none) */
			.participante {
				display: none; /* Retira o elemento do layout da página. */				
			}			
		}
		@media screen and (max-width: 1290px) {
			.minhaconta{
				display:none;
			}
		}
		.nav-wrapper{
			margin:0px 20px 0px 20px;
		}
	</style>
</head>

<body>

	<div th:fragment="menu">		
		<header>
		<ul id="dropdown1" class="dropdown-content">			
			<li><a href="/minha-conta"><i class="material-icons left">settings</i>Minha Conta</a></li>
			<li class="cadastrarevento"><a href="/cadastrarEvento"><i class="material-icons left">add_box</i>Cadastrar Evento</a></li>
			<li class="#" sec:authorize="isAuthenticated()"><a href="#"><i class="material-icons left">code</i>Sobre</a></li>
			<li class="divider"></li>			
			<li sec:authorize="isAuthenticated()"><a class="logout" href="/logout">Sair</a></li>
		</ul>
		<nav class="indigo darken-4">
			<div>
				<div class="nav-wrapper">
					<a href="/" class="brand-logo">Eventos</a>
					<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
						<li><a href="/home"><i class="material-icons left">home</i>Página Inicial</a></li>
						<li><a href="/eventos"><i class="material-icons left">list</i>Eventos</a></li>
						<li sec:authorize="isAuthenticated()"><a href="/user/meus-eventos"><i class="material-icons left">playlist_add_check</i>Meus Eventos</a></li>
						<li class="participante"><a href="/participantes"><i class="material-icons left">view_comfy</i>Participantes</a></li>
												
						<li sec:authorize="!isAuthenticated()"><a class="login" href="/login.html">Log in</a></li>
						<li sec:authorize="isAuthenticated()"><a class="dropdown-trigger" data-target="dropdown1"><span sec:authentication="name"></span><i
									class="material-icons right">arrow_drop_down</i></a></li>
									
<!--						<li><a href="#" th:text="${session.mySessionNome}"></a></li>-->
<!--						<li th:text="| User:  ${session.mySessionNome}|" ></li>-->						
					</ul>
				</div>
			</div>		
		</nav>
		
<!--MENU MOBILE-->
		<ul class="sidenav" id="mobile-demo">
			<li sec:authorize="!isAuthenticated()"><a class="login" href="/login.html"><i class="material-icons left">person_outline</i>Log in</a></li>
			<li sec:authorize="isAuthenticated()"><a href="/home"><i class="material-icons left">person</i><span sec:authentication="name" th:value="${#authentication.name}"></span></a></li>			
			<li><a href="/home"><i class="material-icons left">home</i>Página Inicial</a></li>
			<li><a href="/cadastrarEvento"><i class="material-icons left">add_box</i>Cadastrar Evento</a></li>
			<li><a href="/eventos"><i class="material-icons left">view_list</i>Lista de Eventos</a></li>
			<li sec:authorize="isAuthenticated()"><a href="/user/meus-eventos"><i class="material-icons left">playlist_add_check</i>Meus Eventos</a></li>					
			<li><a href="/participantes"><i class="material-icons left">view_comfy</i>Todos Participantes</a></li>
			<li sec:authorize="isAuthenticated()"><a href="/minha-conta"><i class="material-icons left">settings</i>Minha Conta</a></li>			
			<li sec:authorize="isAuthenticated()"><a class="logout" href="/logout"><i class="material-icons left">exit_to_app</i>Sair</a></li>	
		</ul>
	</header>
	<div class="hide">
		User Logado:<input id="formname" name="emailResponsavelEvento" th:value="${#authentication.name}"
		readonly=true />
	</div>		
	</div>
<!--	<div onload="nomeUsuarioLogado()"></div>-->
<!--	<div onload="setTimeout()"></div>-->
	
	<script>
		window.onload = function () {			
			let nome = document.getElementById("formname").value
    		//console.log("username: "+nome)
    		//Função do Ajax para enviar uma solicitação get
  			$.ajax({
 		 		type: "POST",
 		 		url: "/info-user-logged",
  				data: nome,  // usuario-padrao%40email.com=	   
  				dataType: "text",
  				//data: JSON.stringify(nome), // %22usuario-padrao%40email.com%22=
        		//dataType: 'json',
  				//success: function(){
           		//	alert("success");
        		//}
			});   	
		}
		
		setTimeout(function() {
 			// window.location.reload();
		}, 5000); // 1 seg = 1000
		
	</script>
	
</body>
</html>