<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="html_head">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

	<link th:href="@{/css/fragments.css}" rel="stylesheet" />

</head>

<body>

	<div th:fragment="menu">

		<header>
		<ul id="dropdown1" class="dropdown-content">			
			<li><a href="/minha-conta">Minha Conta</a></li>
			<li class="cadastrarevento"><a href="/cadastrarEvento">Cadastrar Evento</a></li>
			<li><a href="/infodesenvolvimento">Sobre</a></li>
			<li class="divider"></li>			
			<li sec:authorize="isAuthenticated()"><a class="logout" href="/logout">Sair</a></li>
		</ul>
		<nav class="indigo darken-4">
			<div>
				<div class="nav-wrapper">
					<a href="/" class="brand-logo">Eventos</a>
					<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
						<li><a href="/home"><i class="material-icons left">home</i>Página Inicial</a></li>
						<li><a href="/eventos"><i class="material-icons left">list</i>Eventos</a></li>
						<li sec:authorize="isAuthenticated()"><a href="/user/meus-eventos"><i class="material-icons left">playlist_add_check</i>Meus Eventos</a></li>
						<li class="participante"><a href="/participantes"><i class="material-icons left">view_comfy</i>Participantes</a></li>
						<li sec:authorize="!isAuthenticated()" ><a href="/infodesenvolvimento"><i class="material-icons left">code</i>Sobre</a></li>						
						<li sec:authorize="!isAuthenticated()"><a class="login" href="/login.html">Log in</a></li>
						<li style="text-align: right;"  sec:authorize="isAuthenticated()">
							<a class="dropdown-trigger" data-target="dropdown1">
								<b id="nomeUsuarioMenu"  >[[${session.mySessionNome}]]</b>
								<i class="material-icons right">arrow_drop_down</i>	
							</a>
						</li>									
<!--						<li><a href="#" th:text="${session.mySessionNome}"></a></li>-->
<!--						<li th:text="| User:  ${session.mySessionNome}|" ></li>-->						
					</ul>
				</div>
			</div>		
		</nav>
		
<!--MENU MOBILE-->
		<ul class="sidenav" id="mobile-demo">
			<li sec:authorize="!isAuthenticated()"><a class="login" href="/login.html"><i class="material-icons left">person_outline</i>Log in</a></li>
			<li sec:authorize="isAuthenticated()">
				<a href="/minha-conta"><i class="material-icons left">person</i>
					<div class="hide" id="meuNomeUsuario"></div>
					<b>[[${session.mySessionNome}]]</b>
				</a>
			</li>			
			<li><a href="/home"><i class="material-icons left">home</i>Página Inicial</a></li>
			<li><a href="/cadastrarEvento"><i class="material-icons left">add_box</i>Cadastrar Evento</a></li>
			<li><a href="/eventos"><i class="material-icons left">view_list</i>Lista de Eventos</a></li>
			<li sec:authorize="isAuthenticated()"><a href="/user/meus-eventos"><i class="material-icons left">playlist_add_check</i>Meus Eventos</a></li>					
			<li><a href="/participantes"><i class="material-icons left">view_comfy</i>Todos Participantes</a></li>
			<li><a href="/infodesenvolvimento"><i class="material-icons left">code</i>Sobre</a></li>
			<li sec:authorize="isAuthenticated()"><a href="/minha-conta"><i class="material-icons left">settings</i>Minha Conta</a></li>			
			<li sec:authorize="isAuthenticated()"><a class="logout" href="/logout"><i class="material-icons left">exit_to_app</i>Sair</a></li>	
		</ul>
	</header>
	
	<div class="hide">
		<input 	id="formEmailUser" 
				name="emailResponsavelEvento" 
				th:value="${#authentication.name}"
				readonly=true />
		<b>[[${session.mySessionNome}]]</b>
	</div>
	
	<script type="text/javascript">
		window.onload = function () {
				console.log("function called menu...");
				let stringEmail = document.getElementById("formEmailUser").value
				var mySessionNome = '[[${session.mySessionNome}]]';
				//console.log(mySessionNome)
				if ('[[${#authentication.name}]]' == "anonymousUser") {
					return console.log("usuario anônimo");
				}
				if (mySessionNome != "") {					
					document.getElementById("meuNomeUsuario").innerHTML = " <b>" + mySessionNome + "</b>";
					return console.log("Não precisa fazer nova requisição ajax");
				}
				$.ajax({
					type: "POST",
					url: "/atualizar-nome-menu",
					data: stringEmail, //data: JSON.stringify(nome)
					dataType: "text", //dataType: 'json',
					success: function () {
						console.log("POST success atualizar-nome-menu ")
						if (!'[[${session.mySessionNome}]]') {
							window.location.reload();
						}
						document.getElementById("meuNomeUsuario").innerHTML = " <b>" + mySessionNome + "</b>";
					}
				});

			}
	</script>	

	</div>	
  <!--JavaScript at end of body for optimized loading-->
  	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	
	<!-- Bootstrap -->
	<link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
	
</body>
</html>