<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>EventosApp</title>
      <head th:replace="fragments :: html_head" />
</head>
<body>
		
	<div th:replace="fragments :: menu"/>	
	<div class="container">
		<div sec:authorize="!isAuthenticated()">
			<h5>Faça seu Login e cadastre seus eventos e listas de convidados!</h5>
		</div>
	
		<div sec:authorize="isAuthenticated()">
			<h5>Usuario Logado!</h5>
			<div> Authenticated username: <span sec:authentication="name"></span> </div>
		</div>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>    
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>