<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>EventosApp</title>	
	<head th:replace="fragments :: html_head" />	
	<link th:href="@{/css/home.css}" rel="stylesheet" />
</head>

<body>
		
<div th:replace="fragments :: menu"/>	
	<div class="container">
		<div sec:authorize="!isAuthenticated()">
			<h5>Faça seu Login e cadastre seus eventos!</h5>
		</div>
	
		<div sec:authorize="isAuthenticated()">
			<h5>Você está Logado!</h5>
		</div>
		<div sec:authorize="isAuthenticated()">
			<h5>Cadastre seus eventos e listas de convidados!</h5>
			<a id="btncadastrar" href="/cadastrarEvento" class="waves-effect waves-light btn">Cadastrar Evento</a>
		</div>
		<div class="row">
			<div th:each="evento : ${eventos}">
				<div class="col s12 m6 l4">
				
					<div th:if="${evento.status.descricao} eq 'Aberto'">					
						<div class="card-panel z-depth-5">
							<a class="cardEvento" th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.codigo)).build()}">
								<b th:text="${evento.nome}"></b>
								<p />
								<span th:text="${evento.local}"></span>
								<p />
								<span th:text="${#dates.format(evento.data, 'dd/MM/yyyy')}"></span>
								<span th:text="${evento.horario}"></span>
								<p />
					
								<div th:switch="${evento.participantes.size()}">
									<span th:case="'0'">Sem participante cadastrado!</span>
									<span th:case="'1'"><span th:text="|${evento.quantParticip} participante|"></span></span>
									<span th:case="*"><span th:text="${evento.quantParticip} + ' participantes'"></span></span>
								</div>
					
								<span th:text="${evento.status}"></span>
					
								<div class="div-button">
									<div id="acessar">Acessar</div>
								</div>
							</a>
						</div>
					</div>				
					
					<div th:unless="${evento.status.descricao} eq 'Aberto'">					
						<div class="card-panel z-depth-5 grey lighten-3">						
							<b th:text="${evento.nome}"></b>
							<p />
							<span th:text="${evento.local}"></span>
							<p />
							<span th:text="${#dates.format(evento.data, 'dd/MM/yyyy')}"></span>
							<span th:text="${evento.horario}"></span>
							<p />
							<!--<div th:switch="${evento.quantParticip}">-->
							<div th:switch="${evento.participantes.size()}">
								<span th:case="'0'">Sem participante cadastrado!</span>
								<span th:case="'1'"><span th:text="|${evento.quantParticip} participante|"></span></span>
								<span th:case="*"><span th:text="${evento.quantParticip} + ' participantes'"></span></span>
							</div>						
							<span th:text="${evento.status}"></span>						
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
<!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>-->
  	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script src="/js/init.js"></script>
</body>
</html>