<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<head th:replace="fragments :: html_head" />
	<link rel="stylesheet" th:href="@{/bootstrap-5.2.0-dist/css/bootstrap.min.css}">
	<link th:href="@{/css/home.css}" rel="stylesheet" />

	<script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

</head>

<body>
		
<div th:replace="fragments :: menu"/>

<div class="container" id="homeInforme">
	<div sec:authorize="!isAuthenticated()">
		<h5>Faça seu Login e cadastre seus eventos!</h5>
	</div>
	<div sec:authorize="isAuthenticated()">
		<h5>Olá [[${usuarioLogadoNome}]]! Você está Logado!</h5>
	</div>
	<div>
		<div sec:authorize="isAuthenticated()">
			<h5>Agora você pode cadastrar eventos!</h5>
		</div>
		<a href="/cadastrarEvento" class="btn btn-primary">Cadastrar Evento</a>
	</div>
</div>
<!-- PAGINA HOME UTILIZA O BOOTSTRAP 5.2 NOS CARDS-->
<div class="container">
	<div class="row">
		<div th:each="evento : ${eventos}" class="col-xl-4 col-lg-6">
			<div th:if="${evento.status.descricao} eq 'Aberto'">
				<div class="card">
					<div id="cardBody" class="card-body" style="height:200px">
						<h5 class="card-title"><b th:text="${evento.nome}"></b></h5>
						<p class="card-text" th:text="${evento.local}" maxlength="10"></p>
						<p class="card-text">
							<span th:text="${#dates.format(evento.data, 'dd/MM/yyyy')}"></span>
							<span th:text="${evento.horario}"></span>
						</p>
						<div class="card-text" th:switch="${evento.participantes.size()}">
							<span th:case="'0'">Sem participante cadastrado!</span>
							<span th:case="'1'"><span th:text="|${evento.quantParticip} participante|"></span></span>
							<span th:case="*"><span th:text="${evento.quantParticip} + ' participantes'"></span></span>
						</div>
						<div class="buttonEntrar">
							<a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.codigo)).build()}" class="btn btn-primary">Entrar</a>
						</div>
						</a>
					</div>
				</div>
			</div>

			<div th:unless="${evento.status.descricao} eq 'Aberto'">
				<div class="card"  style="background:#C7C6C1">
					<div class="card-body" style="height:200px">
						<h5 class="card-title"><b th:text="${evento.nome}"></b></h5>
						<p id="local" class="card-text" th:text="${evento.local}"></p>
						<p class="card-text">
							<span th:text="${#dates.format(evento.data, 'dd/MM/yyyy')}"></span>
							<span th:text="${evento.horario}"></span>
						</p>
						<div th:switch="${evento.participantes.size()}">
							<span th:case="'0'">Sem participante cadastrado!</span>
							<span th:case="'1'"><span th:text="|${evento.quantParticip} participante|"></span></span>
							<span th:case="*"><span th:text="${evento.quantParticip} + ' participantes'"></span></span>
						</div>
						<span>Evento</span>
						<span th:text="${evento.status}"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>