<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments :: html_head" />

<style>
	#btncadastrar{
		margin: 10px 0px 15px 10px;
	}
	.card-panel{			
		position:relative;
		white-space: nowrap;
		text-overflow: ellipsis; /* text-overflow especifica como conteúdo estourado que não é exibido e é sinalizado ao usuário com reticências (...) */
		overflow: hidden !important;
	}
	p{
		margin:1px
	}
</style>

<body>
	<div>
		<div th:replace="fragments :: menu" />
		<div class="container">
			<div sec:authorize="!isAuthenticated()">
				<h2>Bem vindo!</h2>
				<h5>Faça seu Login Para cadastrar seus eventos e deixar disponivel o cadastro de participantes!</h5>
			</div>
			<div sec:authorize="isAuthenticated()">
				<h5>Cadastre seus eventos e listas de convidados!</h5>
				<a id="btncadastrar" href="/cadastrarEvento" class="waves-effect waves-light btn">Cadastrar Evento</a>
			</div>
			<div class="row">
				<div th:each="evento : ${eventos}">
					<div class="col s12 m6 l4">
						<div class="card-panel z-depth-5">
							<span th:text="${evento.nome}"></span>
							<p />
							<span th:text="${evento.local}"></span>
							<p />
							<span th:text="${#dates.format(evento.data, 'dd/MM/yyyy')}"></span>
							<span th:text="${evento.horario}"></span>
							<p />
							<!-- <span th:text="${evento.quantParticip}"></span> -->	
							<div th:switch="${evento.quantParticip}">
								<span th:case="'0'">Sem participante cadastrado!</span>
								<span th:case="'1'"><span th:text="${evento.quantParticip}"></span> participante</span>
								<span th:case="*"><span th:text="${evento.quantParticip}"></span> participantes</span>
							</div>
	
							<div class="div-button">
								<a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.codigo)).build()}">
									Acessar
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
	
		</div>
	</div>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>	
	<script type="text/javascript" src="/js/main.js"></script>
</body>

</html>