<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>EventoAdd</title>


        <head th:replace="fragments :: html_head"/>

</head>

<body>
	

	<div>		
		<div>
			<h5>Projeto EventoApp</h5>
			<p>Projeto desenvolvido como aprendizagem.</p> 
			<p>Feito com base no <b>Curso Spring Boot: Criando uma aplicação Java Web</b> com a professora Michelli Brito.</p>
			<p>Foram feitos incrementos de funcionalidades e outros ajustes.</p>
			<p>Mas a base para construção foram as aulas no youtube e o projeto no github da professora Michelli.</p>
			<a href="https://github.com/leandromelolm/evento-app-spring-thymeleaf">Aqui meu Projeto no github.</a>				
		</div>
	</div>


</body>

</html>