<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments :: html_head" />

<body>
	
	<div th:replace="fragments :: menu"/>
	<div>		
		<div class="container">
			<h5>Projeto EventoApp</h5>
			<p>Projeto desenvolvido como aprendizagem.</p> 
			<p>Feito com base no <b>Curso Spring Boot: Criando uma aplicação Java Web</b> com a professora Michelli Brito.</p>
			<p>Foram feitos incrementos de funcionalidades e outros ajustes.</p>
			<p>Mas a base para construção foram as aulas no youtube e o projeto no github da professora Michelli.</p>
			<a href="https://github.com/leandromelolm/evento-app-spring-thymeleaf">Aqui meu Projeto no github.</a>				
		</div>
	</div>

<!--	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>	-->
<!--	<script type="text/javascript" src="/js/main.js"></script>-->
</body>

</html>