<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<body>
<h5>Lista de todos participantes em todos os eventos</h5>
			<table class="table-responsive">
				<thead>
					<tr>
						<th>Nome</th>
						<th sec:authorize="hasRole('ADMIN')" >Email</th>
						<th class="hide">CPF</th>
						<th sec:authorize="hasRole('ADMIN')" >ID</th>
						<th>DataCadastro</th>
						<th>Cod Evento</th>
						<th>Nome Evento</th>
						<th>Deletar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="participante : ${participantes}">
						<td><span th:text="${participante.nomeParticipante}"></span></td>
						<td sec:authorize="hasRole('ADMIN')" ><span th:text="${participante.email}"></span></td>
						<td class="hide"><span th:text="${participante.CPF}"></span></td>
						<td sec:authorize="hasRole('ADMIN')" ><span th:text="${participante.idParticipante}"></span></td>
						<td><span th:text="${participante.dataCadastro}"></span></td>
						<td> <a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, participante.evento.codigo)).build()}"> 
							<span th:text="${participante.evento.codigo}"></span></a>
						</td>
						<td> <a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, participante.evento.codigo)).build()}">
							<span th:text="${participante.evento.nome}"></span></a>
						</td>
						<td> <a class="waves-effect waves-light btn-small"
								th:href="${(#mvc.url('EC#deletarParticipantePageParticipantes').arg(0, participante.idParticipante)).build()}">
								<i class="material-icons">delete_forever</i></a>
						</td>
					</tr>
				</tbody>
			</table>
</body>

</html>