<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
 xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<head th:replace="fragments :: html_head" />
    <title>Login page</title>
  </head>
<body>
	<div th:replace="fragments :: menu" />
	<div>	
<!--		<div class="row" style="margin: 50px 400px 500px 400px;">-->
		<div class="row">
<!--			<div class="col s4 offset-s4 card" style="margin-top: 50px">-->
			<div class="col s10 push-s1 m4 push-m4">
				<h5>Sign In</h5>
				<p th:if="${loginError}" class="error" style="color: red;">Wrong user or password (usuário ou senha incorretos)</p>
						
				<div th:if="${#authentication.name} != anonymousUser">					
					<div>					
						<p>Usuario já está Logado</p>
						<a onclick="return confirmaDeslogar();" sec:authorize="isAuthenticated()" href="/logout"
							class="waves-effect waves-light btn">Logout</a>
					</div>
				</div>
				
				<div th:unless="${#authentication.name} != anonymousUser">
					<div>
						<form th:action="@{/login.html}" method="post">
							<div class="row">
							
								<div class="input-field col s12">
									<label for="txtPassword">Username</label>
									<input style="text-transform: lowercase;" type="text" id="txtUsername" name="txtUsername"
										autofocus="autofocus" required=true />
								</div>
								
								<div class="input-field col s12">
									<label for="txtPassword">Password</label>
									<input type="password" id="txtPassword" name="txtPassword" required=true />
								</div>
								
								<div class="form-check input-field col s12" style="margin: 0px 0px 10px 0px;">								
									<label class="form-check-label" for="checkRememberMe">Lembrar de mim?</label>									
									<input type="checkbox" class="form-check-input" id="checkRememberMe" name="checkRememberMe"
										style="pointer-events: visible; opacity:10; position: relative; margin: 18px 0px 0px 130px">									
								</div> 
								
								<div class="col s12">
									<button class="btn waves-effect waves-light" style="width: 100%;" type="submit" value="Log in">
										Entrar
									</button>
								</div> 						
           						
								<div class="col s12">
									<p><a href="/register">Cadastre-se</a></p>
								</div>
							</div>
						</form>				
					</div>
				</div>
								
			</div>
		</div>		
	</div>

  <!--JavaScript at end of body for optimized loading-->
  	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script src="/js/init.js"></script>
	
	<script type="text/javascript" src="/js/test.js"></script>
</body>
</html>