<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments :: html_head" />

<body>

	<div th:replace="fragments :: menu" />
	
	<div class="container">
		<!--Deslogar-->
		<a onclick="alertaSair();" sec:authorize="isAuthenticated()" href="/logout" class="waves-effect waves-light btn">Sair</a>

		<h5>Página Teste</h5>

		<li sec:authorize="isAuthenticated()"><a class="sair" href="/logout">Sair</a></li>

		<div class="input-field">
			<input type=text name="cdate" id="cdate" class="datepicker">
			<label for="cdate">Teste Calendario</label>
		</div>
	</div>
	
	<div class="container">
		<h2>Welcome</h2>
		<p>Spring Security Thymeleaf tutorial</p>
		<div sec:authorize="hasRole('USER')">Text visible to user.</div>
		<div sec:authorize="hasRole('ADMIN')">Text visible to admin (usuario administrador).</div>
		<div sec:authorize="isAuthenticated()">	Text visible only to authenticated users.</div>
		<div> Authenticated username: <span sec:authentication="name"></span> </div>
<!--		Authenticated user roles:<div sec:authentication="principal.authorities"></div>-->
		
		<input type="button" href="/logout" onclick="clickEvent();" value="Test" />
		<button onclick="window.location.href = '/logout'">Sair</button>
	</div>
	
	<script type="text/javascript" src="js/main.js"></script>

	<script type="text/javascript" src="js/test.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>