<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments :: html_head" />

<body>

	<div th:replace="fragments :: menu" />
	
	<div class="container">
		<div>			
			<a onclick="return confirmaDeslogar();" sec:authorize="isAuthenticated()" href="/logout" class="waves-effect waves-light btn">Logout</a>
		</div>		
		</p>
		<a id="btncadastrar" href="/cadastrarEvento" class="waves-effect waves-light btn">Cadastrar Evento</a>
		
		<h4>Bem vindo!</h4>
			<div sec:authorize="!isAuthenticated()">
				<h5>Faça seu Login Para cadastrar seus eventos e deixar disponivel o cadastro de participantes!</h5>
				<p>Olá, [[${#authentication.name}]]!</p>
				<p>session <b>[[${#session}]]</b></p>
<!--				<p>AttributeNames <b>[[${#session.attributeNames}]]</b></p>-->
				<p>lastAccessedTime <b>[[${#session.lastAccessedTime}]]</b></p>
<!--				<p>getAttributeNames <b>[[${#session.getAttributeNames}]]</b></p>-->
				<p>id <b>[[${#session.id}]]</b></p>				
			</div>
			
			<div sec:authorize="isAuthenticated()">
				<p>Olá, [[${#authentication.name}]]!</p>
				<p>session <b>[[${#session}]]</b></p>
<!--				<p>AttributeNames <b>[[${#session.attributeNames}]]</b></p>-->
				<p>lastAccessedTime <b>[[${#session.lastAccessedTime}]]</b></p>
<!--				<p>getAttributeNames <b>[[${#session.getAttributeNames}]]</b></p>-->
				<p>id <b>[[${#session.id}]]</b></p>
			</div>
		
		
		<div class="row">
			<div class="input-field col l2 m6 s12">
				<input type=text name="cdate" id="cdate" class="datepicker">
				<label for="cdate">Teste Calendario</label>
			</div>
		</div>
		
	</div>
	
	<div class="container">		
		<div sec:authorize="hasRole('USER')">Text visible to user.</div>
		<div sec:authorize="hasRole('ADMIN')">Text visible to admin (usuario administrador).</div>
		<div sec:authorize="isAuthenticated()">	Text visible only to authenticated users.</div>
		<div> Authenticated username: <span sec:authentication="name"></span> </div>

		<div sec:authorize="hasRole('ROLE_ADMIN')">
  			USER ADMINISTRADOR -This content is only shown to administrators.
		</div>
		<div sec:authorize="hasRole('ROLE_STANDARD_USER')">
  			USER NORMAL -This content is only shown to users.
		</div>
				
		<!--		Authenticated user roles:<div sec:authentication="principal.authorities"></div>-->
<!--		Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>-->
				
		</p>		
		<div>
			<button onclick="window.location.href = '/logout'">Sair</button>
		</div>		
		</p>
		
		<form method="get">
			<div class="show">
					Cadastrado Por:<input  name="emailResponsavelEvento" th:value="${#authentication.name}" readonly=true/>
			</div>
			<button class="waves-effect waves-light btn input-field" type="submit">Salvar</button>
		</form>
		
	</div>
	
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/test.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>

</html>